body{
    margin:0;
    
    overflow-x: hidden;
}


@media (min-width:1920px) {
    .hostdescription{
        height:50% !important;
    }
}

@media (max-width: 576px) {
    #AboutBackground{
        height: auto !important;
        background-image:none !important;
    }
    #About{
        height:2500px !important;
    }

    #section1{
        display:block !important;
        height:800px !important;
    }
    #AboutLogo{
        margin-right: auto;
        height: auto !important;
        margin-left: auto !important;
        display: block;
        width: 50% !important;
        margin-top:0 !important;
    }
    #AboutSection{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
        margin-top:0 !important;
    }

    #Aboutfind{
        width:100% !important;
        margin:auto !important;
        font-size:20px !important;
    }

    #hosts{
        display:block !important;
    }
    .hostSection{
        display:block !important;
        width:100% !important;
    }

    .hostdescription{
        margin-top:0 !important;
        width:100% !important;

    }

    #swanname{
        margin-left:auto !important;
        margin-right:auto !important;
    }
    .hostname{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .picemail img{
        display: block !important;
        margin-left: auto;
        margin-right:auto;
        width:70%;
    }

}

#About{
    
    height: 1312px;

    max-width:1980px;
    overflow:hidden;
    margin:auto;
    
   


}
#AboutBackground{
   
    width:100%;
    height: 1312px;
    overflow:hidden;
    background-color: white;
    background-image: url("../images/Poly1.png");
    background-repeat:no-repeat;

    background-position: bottom;


}

#section1{
    height:500px;
    background-color:#F2F2F2;
    display:inline-flex;
}

#AboutSection{
    display: inline-block;
    margin-left: 20px;
    margin-top: 160px;
}

#AboutLogo{
   
    width: 421px;
    height: 420px;
    margin-left: 92px;
    margin-top: 146px;
}

#AboutTitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

#AboutDescription{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

#credits{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #9E3A1F;
}

#findus{
    
    text-align: center;

}
#Aboutfind{
    
    width: 281px;
    height: 50px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    margin-left:20px;
    margin-right:20px;

    text-align: center;

    color: black;

}
.frow{
    display:inline-block;
}
#ahr1{
   
    width: 120px;
    height: 0px;
   

    border-top: 1px solid black;
}
#ahr2{
   
    width: 120px;
    height: 0px;
 

    border-top: 1px solid black;
}

#hosts{
    display: flex;

    margin: auto;
    justify-content: space-around;
}

.hostdescription{
    width: 100%;
    height: 65%;
    margin-left:0;
    margin-top:40px;

    background: #2D2F3E;
}

.hostSection{
    display: inline-flex;
    width:49%;
    
   
}

.hostname{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
   
    text-align: center;
    
    color: #FFFFFF;
}
#swanname{
    
}
#timname{
    
}
.picemail img{
    
    width: 350px;
    height: auto;

}
.hostp{
    width:90%;
    text-align: left;
    left: 44px;
    top: 831px;
    margin-left:15px;
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}
#tim{
}
#swan{
   
    
}

.email{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    text-align: center;
    
    color: #E6BB5C;
    
}

.email a{
    text-decoration: none !important;
    color: #E6BB5C;
    
}

#funfact{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
    
}