body{
    margin:0;
    
    overflow-x: hidden;
}

#homepage{
    /*
    position: relative;
    max-width:1980px;
    
    width:100%;
    height: 2320px;
    background: #9E3A1F;
    */
    
   
    height:2320px;
    display:flex;
    
    max-width:960px;

    margin:auto;
  
}

#background {
    /*
    position: absolute;
    width: auto;
    max-width: 1980px;
    height: 2170.5px;
    left: -7px;
    right:0px;
    top: 0px;
    background: url("./Background.png");
    background-repeat:repeat;*/

    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2320px;
    overflow:hidden;
    background-color: #9E3A1F;
    background-image: url("../images/Background.png");
    background-repeat:round;
    background-size:cover;
    background-position: initial;
}



#hlogo{
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-top: 330px;
    
    margin-left: auto;
   
    
}

.footer {
    position: absolute;
    width: 100%;
    height: 165px;
    left: 0px;
    top: 2160px;
    background: #DADADA;
}


#f1 {
    
   
    height: 18px;
    

    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 21px;
    text-align: center;

    color: #000000;
}

#f2 {
    
    
    height: 16px;
    left: 878px;
    top: 2219px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

#f3 {
    
    
    height: 36px;
    left: 824px;
    top: 2248px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

#fimg { 
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
#HIntro{
    
    width: 709px;
    height: 881px;
    left: 60px;
    margin-top: 171px;
    margin-left:60px;

}

#HIntro1{
    display: flex;
}

@media (max-width: 576px) {

    #HIntro1{
        display:block !important;
    }
    #HIntro{
        margin: auto;
        width: 90%;
        text-align: center;
        height: 550px;
    }
    
    #hlogo{
        display:block !important;
        width: 60% !important;
        margin-bottom:30px;
        margin-top:0px !important;
    }
    #I1{
        font-size: 30px !important;
        margin-bottom: 0px;
        width: auto !important;
        
    }  
    #I2{
        width:auto !important;      
        margin-top: 0;
        margin-bottom: 0;
    
    }

    #Ep{
        margin: auto;
        width: 80% !important;
        text-align: center;
        float: none !important;
        margin-top: 0 !important;
        padding-bottom: 20px !important;
        margin-right: auto !important;
    }
    
    #playbutton{
        float: none !important;
        margin:auto !important;
      
    }
    
    #htitle{
        width: auto !important;
        font-size: 25px !important;
      
    }
    
    #description{
        width: auto !important;
        font-size: 18px !important;
    }
    #audio{
        width: 90% !important;
        
    }

    #AllEp{
        width: 40% !important;
    
    
    }
    
    #AllEp p{
        height: 40px !important;
        margin-top: 0 !important;
    }

    #a1{
        font-size:17px !important;
    }



}

#I1{
    
    width: 709px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

    color: #E6BB5C;
}

#I2{
   
    width: 556px;
   

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */


    color: #FFFFFF;

}


#Ep{
    

    margin-right: 10px;
    width: 55%;
    margin-top: 0px;
    float: right;
   
    padding-bottom: 60px;
    
}

#playbutton{
    float:left;
    margin-left:-100px;
    margin-top:20px;
  
}

#htitle{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #E6BB5C;
  
}

#description{
    width: auto;   
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    
    color: #FFFFFF;
}
#audio{
    width: 95%;
    margin-top:20px;
    
}

#AllEp{
    
    clear:both;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin: auto;
    width: 15%;

}

#AllEp p{
    margin:auto;
    margin-top:20px;
    height:60px;
    
    
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
    color: #FFFFFF;
}

#AllEp a{
    color:white;
}
