@media (max-width: 576px) {
    #findus{
        width: 100% !important;
        margin: auto;
       
    }
    #logolinks{
        margin-top: -40px !important;
    }
    .media{
        margin:10px !important;
    }
    #find{
        
    }
}

a{
    text-decoration: none !important;
}

#social{
    margin-top: 25px;
}

#findus{
    
    text-align: center;

}
#find{
    
    width: 175px;
    height: 50px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;

}
.frow{
    display:inline-block;
    width:10%;
}
#hr1{
   
    
    height: 0px;
   

    border-top: 1px solid #E6BB5C;
}
#hr2{
   
    
    height: 0px;
 

    border-top: 1px solid #E6BB5C;
}

#logolinks{
    display:inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: -50px;
}

#logolinks p{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
}
.media{
    
  
    margin:50px;
}

.media p{
    display:block !important;
}

#sc{
    position: absolute;
    margin-left:-10px;
}