#Subscribe{
    height: 1080px;
}

#SubscribeBackground{
    width:100%;
    height: 786px;
    overflow:hidden;
    background-color: white;
    background-image: url("../images/Vec5.png");
    background-repeat:round;

    background-position: initial;
}

#SubscribeTitle{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 107px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom:40px;
    color: #000000;

}

#SubscribeDescription{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom:40px;
    color: #000000;
    
}

#platformbox{
    width: 75%;
    height: 237px;
    background: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

#platformbox a{
    margin:auto;
    color:black;
    margin-top:35px;
}

#platformbox p{
    text-align: center;
    text-decoration: none !important;
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

#subscribefooter{
    background: #2D2F3E;
    width:100%;
    height:200px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#sfleft{
    display:flex;
    margin-left: 18px;
    padding-top: 18px;
}
#sfleft p{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-top: 5px;
    color: #FFFFFF;
}
#sfleft a{
    display:block;
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    
    color: #FFFFFF;
    
}
#sfleft img{
    width: 165px;
    height: 165px;
    margin-right: 40px;
    
}

#sfright{
    margin-right:50px;
}

#sfright p{
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
    color: #FFFFFF;
}

#sfright input{
    width: 343px;
    height: 65px;
    margin-right:20px;
}

#sfright button{
    width: 180px;
    height: 65px;
    background: #E6BB5C;
}